
body{
margin:0;
font-family:Arial;
background:#0f0f0f;
color:white;
}

header{
background:black;
padding:15px;
font-size:28px;
text-align:center;
}

.container{
display:flex;
min-height:100vh;
}

.sidebar{
width:200px;
background:#111;
padding:10px;
}

.sidebar button{
width:100%;
margin-bottom:10px;
padding:10px;
background:#222;
color:white;
border:none;
}

.content{
flex:1;
padding:20px;
}

.video-card{
background:#1c1c1c;
padding:15px;
margin-bottom:20px;
border-radius:10px;
}

video{
width:100%;
max-width:800px;
}

.comment{
background:#222;
margin-top:5px;
padding:5px;
}

@media(max-width:800px){
.container{flex-direction:column}
.sidebar{width:100%;display:flex}
.sidebar button{flex:1}
}
